<%= bootstrap_form_for([@event, @event.contributions.build], :multipart => true) do |f| %>
<% if @event.errors.present? %>
	<% @event.contributions.errors.full_messages.each do |msg| %>
		<p> <%= msg %> </p>
	<%end%>
<%end%>

  <%= f.text_field :contributor %>
  <%= f.text_field :text %>
  <%= f.file_field :avatar %>
  <%= f.submit "Submit" %>
<% end %>