<div class="text-center">
<h1> <strong> <%=@event.name %> </strong> </h1> 
<h1> <small> <%= @event.date %> </small> </h1>
<hr>
</div>

<div class="col-md-10">
<%= render @event.contributions %>
<%= render 'contributions/form' %>



<%= link_to 'Back', events_path %>
<td><%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Edit', edit_event_path%>
</div>